/* 
    Document   : style
    Created on : 05.09.2014, 11:32:07
    Author     : KiPa
    Description:
        Purpose of the stylesheet follows.
*/
body{
    font-size: 100%;
}
div.body{
    width: 98%;
}
h1{
    font-size: 4em;
    line-height: 1.2em;
}
h3{
    font-size: 2em;
    line-height: 1em;
}
div.header{
    height: 84px;
}
div.header a.logo{
    margin-top: 10px;
}
div.header a.logo img{
    height: 60px;
    width: auto;
}
div.header ul.menu{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 200%;
}
div.projects div.project{
    float: none;
    margin: 0px;
    width: 100%;
    border-top: 3px solid #dcdcdc;
    margin-top: 25px;
}
div.project div.description {
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 30px;
    color: #9b9b9b;
}
div.projects div.project:first-child{
    border: none;
    margin-top: 0px;
}
div.projects div.project div.progress_wrapper{
    float: none;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}
div.project a.button{
    float: none;
}
div.projects div.project div.progress_wrapper{
    width: 80%;
    margin-bottom: 40px;
}
div.progress_wrapper div.progress_bar {
    width: 100%;
    height: 60px;
    border: 2px solid #c7c7c7;
}
div.progress_wrapper div.progress_bar div.progress{
    height: 60px;
}
div.progress_wrapper div.info{
    font-size: 36px;
    height: 100px;
}
div.completed_projects div.progress_wrapper div.info{
    font-size: 1.8em;
}
div.completed_projects div.progress_wrapper div.info div.info_title {
    font-size: 1.4em;
    line-height: 1em;
}
div.progress_wrapper div.info div.info_title {
    font-size: 2em;
    line-height: 1em;
}
div.progress_wrapper div.info div.members {
    width: 160px;
    margin-left: -100px;
}
div.project a.button {
    width: 80%;
    height: 150px;
    line-height: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
}
div.project div.photo img{
    max-width: none;
    width: 100%;
}
div.completed_projects div.project{
    width: 49%;
    margin: 0px;
    margin-left: 2%;
    float: left;
    height: auto;
    font-size: 100%;
}
div.completed_projects div.project img{
    width: 100%;
    height: auto;
    max-width: none;
}
div.completed_projects div.project:first-child{
    margin-left: 0%;
}
div.completed_projects div.project div.photo{
    width: 100%;
    height: auto;
    position: relative;
    font-size: 100%;
}
div.completed_projects div.project div.photo img.sticker{
    height: 44%;
}
div.completed_projects div.project div.photo a.button {
    position: absolute;
    right: 0.2em;
    bottom: 0.3em;
    width: 4em;
    height: 1.5em;
    float: none;
    background-color: #9b9b9b;
    font-size: 3em;
    line-height: 1.5em;
}
div.project div.progress_wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
div.partners a {
    margin-left: 25px;
}
div.footer{
    height: auto;
    font-size: 1.7em;
    line-height: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
div.footer ul.socials {
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 20px;
}
div.partners{
    width: 100%;
}
div.partners a{
    width: 23%;
    margin-left: 2%;
}
div.partners a img{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.footer ul.socials{
    margin-top: 0.7em;
}
ul.socials li a{
    width: 3em;
    height: 3em;
    background-position: 0px 0px;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}