/* 
    Document   : style
    Created on : 03.09.2014, 15:36:13
    Author     : KiPa
    Description:
        Purpose of the stylesheet follows.
*/
body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Cuprum', sans-serif;
    background-color: #fff;
    color: #646464;
}
a, img{
    border:none;
    outline:none;
}
.clear{
    width: 100%;
    display: inline-block;
    position: relative;
    clear: both;
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}
div.column_2{

}
div.column_2 div.col_1{
    float: left;
    width: 578px;
    margin-right: 20px;
    font-size: 14px;
}
div.column_2 div.col_2{
    float: left;
    width: 578px;
    font-size: 14px; 
}
h1{
    font-size: 24px;
    font-weight: normal;
    line-height: 27px;
    color: #292929;
}
h2{
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    color: #292929;
}
div.mask{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    /*background-color: rgba(0,0,0,0.8);*/
    background-image: url("../images/mask_bg.png");
    background-repeat: repeat;
    z-index: 101;
}
div.flash_msg{
    display: none;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -185px;
    width: 350px;
    padding: 10px;
    z-index: 102;
}
div.popup{
    width: 590px;
    padding: 20px 80px 40px 20px;
    background-color: #dddddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(./border-radius.htc);
    position: absolute;
    left: 50%;
    margin-left: -295px;
    top: 135px;
    z-index: 102;
    display: none;
}
div.popup div.title{
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 10px;
    padding-top: 30px;
    color: #000;
}
div.popup ul.payment,
div.popup ul.shipment{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
div.popup ul.payment li{
    float: left;
    width: 25%;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
div.popup ul.shipment li img,
div.popup ul.payment li img{
    opacity: 0.5;
}
div.popup ul.shipment li.disabled img,
div.popup ul.payment li.disabled img,
div.popup ul.shipment li.disabled:hover img,
div.popup ul.payment li.disabled:hover img {
    opacity: 0.2;
}
div.popup ul.shipment li:hover img,
div.popup ul.payment li:hover  img{
    opacity: 1;
}
div.popup ul.shipment li.enabled:hover img,
div.popup ul.payment li.enabled:hover  img{
    opacity: 1;
}
div.popup ul.shipment li.selected img,
div.popup ul.payment li.selected  img{
    opacity: 1;
    background-color: #FBC2C4;
}
div.popup ul.shipment li.enabled img,
div.popup ul.payment li.enabled  img{
    opacity: 1;
}

div.popup ul.payment li:nth-child(2){
    width: 50%;
}
div.popup ul.shipment li{
    float: left;
    width: 25%;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
div.popup div.right {
    float: right !important;
}
div.popup label.first_label {
    width: 300px !important;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
div.popup div.right input {
    width: 100px !important;
    font-size: 20px;
}
form.shipment-form{
    
}
form.shipment-form div.fields-wrapper {
    display: none;
}
form.shipment-form div.row{
    display: inline-block;
    width: 100%;
    margin-bottom: 11px;
}
form.shipment-form div.row label{
    display: block;
    width: 150px;
    float: left;;
}
form.shipment-form div.row label.card{
    width: 370px;
}
form.shipment-form div.row div{
    float: left;
}
form.shipment-form div.row input{
    height: 24px;
    width: 400px;
    padding: 0px 15px;
    border: 1px solid #3b3b3b;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
    background-color: #fff;
}
form.shipment-form div.row input.card{
    width: 180px;
}
form.shipment-form div.row textarea{
    height: 195px;
    width: 400px;
    padding: 15px;
    border: 1px solid #3b3b3b;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
    resize: none;
    background-color: #fff;
}
form.shipment-form div.row select{
    height: 26px;
    width: 400px;
    padding: 0px 15px;
    border: 1px solid #3b3b3b;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
    background-color: #fff;
}
form.shipment-form input[type="submit"]{
    display: inline-block;
    height: 24px;
    width: 170px;
    border: none;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
    background-color: #646464;
    color: #fff;
    text-align: center;
    margin-right: 14px;
    cursor: pointer;
}
div.popup a.close{
    display: block;
    width: 7px;
    height: 13px;
    background-image: url("../images/buttons/close_dark.png");
    position: absolute;
    right: 25px;
    top: 20px;
}

div.flash_msg a.close{
    display: block;
    width: 8px;
    height: 12px;
    background-image: url("../images/buttons/close.png");
    position: absolute;
    right: 0px;
    top: 0px;
}
div.header{
    height: 63px;
    background-color: #000;
}
div.body{
    width: 1176px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
div.header a.logo{
    display: block;
    font-size: 0px;
    float: left;
    margin-top: 13px;
    border: none;
    outline: none;
}
div.header ul.menu{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    color: #fff;
    float: left;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 20px;
}
div.header ul.menu li{
    list-style: none;
    float: left;
    margin-left: 22px;
}
div.header ul.menu li:first-child{
    margin-left: 0px;
}
div.header ul.menu li a{
    color: #fff;
    text-decoration: none;
}
div.header ul.menu li a:hover,
div.header ul.menu li a.active{
    color: #faec37;
    text-decoration: underline;
}
div.header ul.lang{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #fff;
    float: left;
    margin-top: 23px;
    margin-left: 25px;
}
div.header ul.lang li{
    list-style: none;
    float: left;
    margin-left: 4px;
}
div.header ul.lang li:first-child{
    margin-left: 0px;
}
div.header ul.lang li a{
    display: block;
    width: 27px;
    height: 27px;
    background-position: center;
    background-repeat: no-repeat;
}
div.header ul.lang li a.ru{
    background-image: url("../images/ico/ru.png");
}
div.header ul.lang li a.ua{
    background-image: url("../images/ico/ua.png");
}
div.error {
    color: #990000;
    font-size: 16pt;
    margin: 50px 0;
}
div.error h1 {
    font-size: 32px;
    font-weight: bold;
}
ul.socials{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    color: #fff;
}
div.header ul.socials{
    float: left;
    margin-top: 23px;
    margin-left: 25px;
}
ul.socials li{
    list-style: none;
    float: left;
    margin-left: 7px;
}
ul.socials li:first-child{
    margin-left: 0px;
}
ul.socials li a{
    display: block;
    width: 27px;
    height: 27px;
    background-position: center;
    background-repeat: no-repeat;
}
ul.socials li a.vk{
    background-image: url("../images/ico/vk.png");
}
ul.socials li a.tw{
    background-image: url("../images/ico/tw.png");
}
ul.socials li a.email{
    background-image: url("../images/ico/email.png");
}
ul.socials li a.fb{
    background-image: url("../images/ico/fb.png");
}
ul.socials li a.yt{
    background-image: url("../images/ico/yt.png");
}
div.content{
    margin-top: 45px;
}
div.footer{
    height: 73px;
    line-height: 73px;
    width: 100%;
    background-color: #000;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
div.footer ul.socials{
    position: absolute;
    right: 0px;
    top: 23px;
}
/*projects*/
div.projects{
    margin-bottom: 25px;
}
div.projects div.project{
    float: left;
    margin-left: 30px;
}
div.projects div.project:first-child{
    margin-left: 0px;
}
div.project{
    width: 573px;
    position: relative;
}
div.project h1 a{
    text-decoration: none;
}
div.project h1 a,
div.project h1 a:visited,
div.project h1 a:active,
div.project h1 a:hover{
    color: #000000;
}
div.project div.description{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    color: #9b9b9b;
    white-space: normal;
    height: 150px;
}
div.slide div.project div.description{
    height: 40px;
}
div.project > div.photo{
    font-size: 0px;
    position: relative;
    margin-bottom: 10px;
    height: 330px;
    width: 423px;
}
div.project div.photo img{
    height: 100%;
    max-width: 573px;
    width: auto;
}
div.project div.photo img.done{
    position: absolute;
    right: -150px;
    top: 0px;
    width: 184px;
    height: 141px;
}
div.progress_wrapper{

}
div.projects div.project div.progress_wrapper{
    width: 252px;
    float: left;
    margin-right: 70px;
}
div.project div.progress_wrapper{
    width: 252px;
}
div.progress_wrapper div.progress_bar{
    width: 250px;
    height: 30px;
    border: 1px solid #c7c7c7;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(./border-radius.htc);
}
div.progress_wrapper div.progress_bar div.progress{
    height: 30px;
    background-color: #4f8cce;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    behavior: url(./border-radius.htc);
}
div.progress_wrapper div.info{
    position: relative;
    font-size: 12px;
    color: #4f8cce;
    height: 41px;
    margin-top: 8px;
}
div.progress_wrapper div.info div.info_title{
    font-size: 24px;
    line-height: 27px;
}
div.progress_wrapper div.info div.collected{
    position: absolute;
    left: 5px;
    top: 0px;
}
div.progress_wrapper div.info div.budget{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fe0000;
}
div.progress_wrapper div.info div.members{
    width: 60px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -50px;
}
div.project div.button_wrapper div.donates{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 101;
    box-shadow: 0px 0px 10px 1px #292929;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
div.project div.button_wrapper div.donates div.donate{
    width: 380px;
}
div.project div.button_wrapper{
    display: block;
    float: left;
    width: 242px;
    height: 74px;
    position: relative;
}
div.project a.button{
    display: block;
    width: 242px;
    height: 74px;
    color: #fff;
    line-height: 74px;
    font-size: 30px;
    text-decoration: none;
    background-color: #80e883;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(./border-radius.htc);
    text-align: center;
}
div.project a.button:hover{
    background-color: #66cf69;
}
div.project.completed a.button{
    background-color: #9b9b9b;
}
div.project.completed a.button:hover{
    background-color: #868686;
}
div.projects_slider div.project.completed > div.photo{
    height: 154px;
    width: 285px;
}
/*completed_projects*/
div.progress_wrapper.completed div.progress_bar,
div.project.completed div.progress_bar{
    border: 1px solid #9b9b9b!important;
    background-color: #efefef!important;
}
div.progress_wrapper.completed div.progress,
div.project.completed div.progress_bar div.progress{
    /*width: 100%!important;*/
    background-color: #9b9b9b!important;
}
/*div.project.completed div.progress_bar div.progress{
    background-color: #9b9b9b;
}*/
div.progress_wrapper.completed div.info,
div.progress_wrapper.completed div.info div.budget,
div.project.completed div.info,
div.project.completed div.info div.budget{
    color: #9b9b9b!important;
    text-align: left;
}
div.completed_projects{
    background-color: #efefef;
    padding: 10px 0px 30px 0px;
}
div.completed_projects div.projects_slider{
    position: relative;
    /*width: 1176px;*/
    width: 1188px;
    height: 385px;
}
div.completed_projects div.slide{
    display: inline-block;
    position: relative;
    position: relative;
    width: 1176px;
    height: 385px;
}
div.completed_projects div.project{
    width: 285px;
    height: 495px;
    float: left;
    margin-left: 12px;
}
div.completed_projects div.project:first-child{
    margin-left: 0px;
}
div.completed_projects div.project div.photo{
   font-size: 0px;
   position: relative;
}
div.completed_projects div.project div.photo img{
    width: 285px;
    height: 154px;
}
div.completed_projects div.project div.photo img.sticker{
   position: absolute;
   right: -12px;
   top: -15px;
   width: auto;
   height: 87px;
}
div.completed_projects div.project div.photo a.button:hover{
    background-color: #959595;
}
div.completed_projects div.project div.photo a.button{
   position: absolute;
   right: 6px;
   bottom: 6px;
   width: 120px;
   height: 35px;
   float: none;
   background-color: #9b9b9b;
   font-size: 15px;
   line-height: 35px;
}
div.slideshow_nav{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
div.slideshow_nav a#slide_prev,
div.slideshow_nav div#slide_caption,
div.slideshow_nav a#slide_next{
    float: left;
    margin-left: 10px;
}
div#slide_caption{
    font-size: 36px;
    line-height: 28px;
}
a#slide_prev{
    display: block;
    width: 25px;
    height: 28px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-image: url("../images/buttons/nav.png");
    font-size: 0px;
    line-height: 0px;
}
a#slide_next{
    display: block;
    width: 25px;
    height: 28px;
    background-position: -25px 0px;
    background-repeat: no-repeat;
    background-image: url("../images/buttons/nav.png");
    font-size: 0px;
    line-height: 0px;
}
div.partners{
    display: inline-block;
    margin-bottom: 25px;
}
div.partners a{
    float: left;
    font-size: 0px;
    text-decoration: none;
    margin-left: 50px;
}
div.partners a:first-child{
    margin-left: 0px;
}
/*ABOUT*/
div.body.about{
    margin-bottom: 100px;
}
form.contacts{
    
}
form.contacts div.row{
    display: inline-block;
    width: 100%;
    margin-bottom: 11px;
}
form.contacts div.row label{
    display: block;
    width: 160px;
    float: left;
}
form.contacts div.row div{
    float: left;
}
form.contacts div.row input{
    height: 24px;
    width: 372px;
    padding: 0px 15px;
    border: 1px solid #3b3b3b;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
}
form.contacts div.row textarea{
    height: 195px;
    width: 372px;
    padding: 15px;
    border: 1px solid #3b3b3b;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
    resize: none;
}
form.contacts div.row select{
    height: 26px;
    width: 402px;
    padding: 0px 15px;
    border: 1px solid #3b3b3b;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
}
form.contacts input[type="submit"]{
    display: inline-block;
    height: 24px;
    width: 170px;
    border: none;
    outline: none;
    background: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
    background-color: #646464;
    color: #fff;
    text-align: center;
    margin-right: 14px;
    cursor: pointer;
}
/*info*/
ul.partners{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 35px;
}
ul.partners li{
    float: left;
    width: 33%;
    text-align: center;
    list-style: none;
}
ul.partners li a{
    display: inline-block;
    font-size: 0px;
}
/*project*/
div.photos{
    display: inline-block;
    width: 100%;
}
div.photos div.photo_main{
    width: 425px;
    height: 330px;
    float: left;
    margin-right: 10px;
    font-size: 0px;
}
div.photos div.photo_main img{
    max-width: 425px;
    height: auto;
}
div.photos div.photo_thumbs{
    float: left;
}
div.photos div.photo_thumbs img{
    display: block;
    max-width: 140px;
    cursor: pointer;
    margin-bottom: 10px;
}
div.photos div.photo_thumbs img.dim,
div.medialist div.media.dim {
    opacity: 0.6;
}
div.photos div.photo_thumbs img.dim:hover,
div.medialist div.media.dim:hover {
    opacity: 1;
}
div.project_page div.progress_wrapper{
    width: 334px;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 110px;
}
div.project_page div.progress_wrapper div.progress_bar{
    width: 332px;
    height: 40px;
    border: 1px solid #c7c7c7;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(./border-radius.htc);
    position: relative;
    z-index: 10;
}
div.project_page div.progress_wrapper div.progress_bar div.progress_percent,
div.project_page div.progress_wrapper div.progress_bar div.progress
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div.tac div.progress_wrapper div.progress_bar div.progress_percent
{
    width: 100%;
    height: 100%;
    position: relative;
    top: -28px;
    left: 0;
    font-size: 16px;
    color: #CCCCCC;
}
div.project div.progress_wrapper div.progress_bar div.progress_percent{
    width: 252px;
    height: auto;
    position: absolute;
    top: -4px;
    left: 0;
}
div.slide div.progress_wrapper div.progress_bar div.progress_percent{
    top: 279px !important;
}
div.project div.progress_wrapper div.progress_bar div.progress_percent,
div.project_page div.progress_wrapper div.progress_bar div.progress_percent
{
    padding-top: 12px;
    text-align: center;
    font-size: 16px;
    color: #CCCCCC;
    z-index: 30;
}
div.project_page div.progress_wrapper div.progress_bar div.progress{
    height: 40px;
    background-color: #4f8cce;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    behavior: url(./border-radius.htc);
    z-index: 20;
}
div.project_page div.progress_wrapper div.info{
    position: relative;
    font-size: 16px;
    color: #4f8cce;
    height: 52px;
    margin-top: 8px;
}
div.project_page div.progress_wrapper div.info div.info_title{
    font-size: 32px;
    line-height: 34px;
}
div.project_page div.progress_wrapper div.info div.collected{
    position: absolute;
    left: 5px;
    top: 0px;
}
div.project_page div.progress_wrapper div.info div.budget{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fe0000;
}
div.project_page div.progress_wrapper div.info div.members{
    width: 60px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -50px;
}
div.donate{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
}
div.donate.odd{
    background-color: #f7f7f7;
}
div.donate div.title{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
}
div.donate div.photo{
    width: 100px;
    text-align: center;
    font-size: 0px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
div.donate  div.photo img{
    max-width: 100px;
    height: auto;
    width: auto;
}
div.donate div.gift_title{
    font-size: 14px;
    float: left;
    width: 250px;
}
div.donate a.button{
    font-size: 15px;
    display: block;
    width: 118px;
    height: 36px;
    background-color: #80e883;
    color: #fff;
    text-align: center;
    line-height: 36px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    behavior: url(./border-radius.htc);
    position: absolute;
    right: 40px;
    top: 35px;
    text-decoration: none;
}
div.donate a.button:hover{
    background-color: #66cf69;
}
/*report*/
div.media_active iframe{
    width: 580px;
    height: 350px;
}
div.media_active img{
    width: 580px;
    /*max-width: 580px;*/
    height: auto;
}
div.medialist{
    display: inline-block;
    width: 585px;
}
div.medialist div.media_active{
    font-size: 0px;
    text-align: center;
}
div.medialist div.media{
    position: relative;
    float: left;
    width: 190px;
    height: 128px;
    cursor: pointer;
    font-size: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
}
div.medialist div.media img{
    width: 190px;
    height: 128px;
}
div.medialist div.media iframe{
    width: 190px;
    height: 128px;
}
div.medialist div.media div.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0px;
    top: 0px;
    /*background-color: rgba(255,255,255,0.5);*/
    /*background-image: url("../images/overlay_bg.png");*/
    /*background-repeat: repeat;*/
}
/*div.medialist div.media:hover div.overlay,*/
/*div.medialist div.media.active div.overlay{*/
    /*display: none;*/
/*}*/
div.report_page div.progress_wrapper{
    width: 334px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
div.report_page div.progress_wrapper div.progress_bar{
    width: 332px;
    height: 40px;
    border: 1px solid #c7c7c7;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(./border-radius.htc);
}
div.report_page div.progress_wrapper div.progress_bar div.progress{
    height: 40px;
    background-color: #4f8cce;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    behavior: url(./border-radius.htc);
}
div.report_page div.progress_wrapper div.info{
    position: relative;
    font-size: 16px;
    color: #4f8cce;
    height: 52px;
    margin-top: 8px;
}
div.report_page div.progress_wrapper div.info div.info_title{
    font-size: 32px;
    line-height: 34px;
}
div.report_page div.progress_wrapper div.info div.collected{
    position: absolute;
    left: 5px;
    top: 0px;
}
div.report_page div.progress_wrapper div.info div.budget{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fe0000;
}
div.report_page div.progress_wrapper div.info div.members{
    width: 60px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -50px;
}

div.pager {
    text-align: center;
    margin-bottom: 30px;
}
div.pager ul.yiiPager {
    font-size: 14px;
}
div.pager ul.yiiPager a
{
    padding: 6px 10px 5px 10px;
    border: none;
    color: #646464;
}
div.pager a
{
    color: #646464;
}
div.pager ul.yiiPager .selected a {
    color: #fff;
    background: #646464 !important;
}
